<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="post">
        <input type="text" name="title" id="title" placeholder="Title..." required>
        <textarea name="content" id="content" placeholder="Content..." required></textarea>
        <input type="submit" value="Post entry">
    </form>

    <ul id="entries-list">
        <% entries.forEach( entry => { %>
            <div class="entry-card">
                <li><h3>Title: <%= entry.title %></h3></li>
                <li><%= entry.content  %></li>
            </div>
        <% }) %>
    </ul>
</body>
</html>